{% if site.enable_mansory %}
<!-- Mansory & imagesLoaded -->
<script defer src="https://unpkg.com/masonry-layout@{{ site.mansory.version }}/dist/masonry.pkgd.min.js" integrity="{{ site.mansory.integrity }}" crossorigin="anonymous"></script>
<script defer src="https://unpkg.com/imagesloaded@{{ site.imagesloaded.version }}/imagesloaded.pkgd.min.js" integrity="{{ site.imagesloaded.integrity }}" crossorigin="anonymous"></script>
<script defer src="{{ '/assets/js/mansory.js' | relative_url }}" type="text/javascript"></script>
{% endif %}
